<%= render 'layouts/errors', :object => @menu %>

<%= form_for [@event, @menu] do |f| %>

  <div class="form-group" id="styles">
    <%= f.label :style %>
    <%= f.select :style, options_for_select(@styles.collect { |style| [style.name] }, :selected => @menu.style), { include_blank: true },  class: "form form-group form-control" %>
  </div>

  <div id="bits_form" hidden>
  </div>
  <div id="family_form" hidden>
    <%= render 'family_form' %>
  </div>
  <div id="individual_form" hidden>
    <%= render 'individual_form' %>
  </div>

  <%= f.submit "Create Menu", class: "btn btn-block btn-primary" %>
<% end %>
