<%= form_for [@event, @menu] do |f| %>

  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <div class="form-check">
          <%= f.label :style, class: "form-check-label" %>
          <%= f.collection_select :style_id, Style.all, :id, :name , include_blank: true, class: "form-control"%>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <div class="form-group form-inline">
          <%= hidden_field_tag("menu[wine]", false)%>
          <%= check_box_tag("menu[wine]", true, @menu.wine ? true :false, class: "checkbox") %>
          <%= f.label :pairing%>
      </div>
    </div>
  </div>
  <br>
  <div id="bits_form" class="hide">
    <div class="form-group">
      <%= f.label :bits, class: "form-check-label" %>
      <% @bits.each do |bit|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[bits][]", bit.name, @menu.bits.include?(bit.name), class: "checkbox") %><%= bit.name %>
        </div><br>
      <% end %>
    </div>
  </div>

  <div id="family_form" class="hide">
    <div class="form-group">
      <%= f.label :antipasti %>
      <% @antipastis.each do |antipasti|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[antipastis][]", antipasti.name, @menu.antipastis.include?(antipasti.name), class: "checkbox") %><%= antipasti.name %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :pasta %>
      <% @pastas.each do |pasta|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[pastas][]", pasta.name, @menu.pastas.include?(pasta.name), class: "checkbox") %><%= pasta.name %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :main_dish %>
      <% @mains.each do |main|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[main_dishes][]", main.name, @menu.main_dishes.include?(main.name), class: "checkbox") %><%= main.name %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <div class="form-check">
        <%= f.label :desserts %>
        <% @desserts.each do |dessert|%>
          <div class="checkbox-inline">
            <%= check_box_tag("menu[desserts][]", dessert.name, @menu.desserts.include?(dessert.name), class: "checkbox") %><%= dessert.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <%= f.submit "Create Menu", class: "btn btn-block btn-success" %>
<% end %>
