<%= render 'layouts/errors', :object => @menu %>



<%= form_for [@event, @menu] do |f| %>

  <div class="form-group">
    <%= f.label :style %>
    <%= f.select :style, options_for_select(@styles.collect { |style| [style.name, style.id] }, :selected => @menu.style),  include_blank: true ,  class: "form form-group form-control"%>
  </div>

  <div id="bits_form" hidden>
    <div class="form-group">
      <%= f.label :bits %>
      <div>
        <% @bits.each do |bit|%>
          <div class="checkbox-inline">
            <%= check_box_tag("menu[bits][]", bit.name, @menu.bits.include?(bit.name), class: "checkbox") %><%= bit.name %>
          </div><br>
        <% end %>
      </div>
    </div>
  </div>

  <div id="family_form" hidden>
    <div class="form-group">
      <%= f.label :antipasti %>
      <div>
      <% @antipastis.each do |antipasti|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[antipastis][]", antipasti.name, @menu.antipastis.include?(antipasti.name), class: "checkbox") %><%= antipasti.name %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :pasta %>
      <div>
      <% @pastas.each do |pasta|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[pastas][]", pasta.name, @menu.pastas.include?(pasta.name), class: "checkbox") %><%= pasta.name %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :main_dish %>
      <div>
      <% @mains.each do |main|%>
        <div class="checkbox-inline">
          <%= check_box_tag("menu[main_dishes][]", main.name, @menu.main_dishes.include?(main.name), class: "checkbox") %><%= main.name %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :desserts %>
      <div>
        <% @desserts.each do |dessert|%>
          <div class="checkbox-inline">
            <%= check_box_tag("menu[desserts][]", dessert.name, @menu.desserts.include?(dessert.name), class: "checkbox") %><%= dessert.name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



  <%= f.submit "Create Menu", class: "btn btn-block btn-primary" %>
<% end %>
