  <div class="form-group">
    <%= f.label :antipasti %>
    <div>
    <% @antipastis.each do |antipasti|%>
      <div class="checkbox-inline">
        <%= check_box_tag("menu[antipastis][]", antipasti.name, @menu.antipastis.include?(antipasti.name), class: "checkbox") %><%= antipasti.name %>
      </div>
    <% end %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :pasta %>
    <div>
    <% @pastas.each do |pasta|%>
      <div class="checkbox-inline">
        <%= check_box_tag("menu[pastas][]", pasta.name, @menu.pastas.include?(pasta.name), class: "checkbox") %><%= pasta.name %>
      </div>
    <% end %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :main_dish %>
    <div>
    <% @main_dishes.each do |main|%>
      <div class="checkbox-inline">
        <%= check_box_tag("menu[main_dishes][]", main.name, @menu.main_dishes.include?(main.name), class: "checkbox") %><%= main.name %>
      </div>
    <% end %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :desserts %>
    <div>
    <% @desserts.each do |dessert|%>
      <div class="checkbox-inline">
        <%= check_box_tag("menu[desserts][]", dessert.name, @menu.desserts.include?(dessert.name), class: "checkbox") %><%= dessert.name %>
      </div>
    <% end %>
    </div>
  </div>
