<h1><%= @menu.style %></h1>
<%= image_tag(@menu.image) %>

<p>price: <%= @menu.price %></p>
<p><%= @menu.antipasti %></p>
<p><%= @menu.pasta %></p>
<p><%= @menu.main_dish %></p>
<p><%= @menu.dessert %></p>
