
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Antipasti List", antipastis_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Pasta Dish List", pasta_dishes_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Main List", mains_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Dessert List", desserts_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Wine List", wines_path %>
    </li>
    <li class="breadcrumb-item right">
      <%= link_to "Event Request", new_event_path %>
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-2">
    <div class="well">
      <!-- find events my date, guest name, phone number???? -->
      <p>
        <a href="#antipastis">Antipastis</a>
      </p>
      <p>
        <a href="#pasta_dishes">Pasta Dishes</a>
      </p>
      <p>
        <a href="#mains">Mains</a>
      </p>
      <p>
        <a href="#desserts">Desserts</a>
      </p>
      <p>
        <a href="#wines">Wines</a>
      </p>
    </div>
  </div>
  <div class="col-sm-10">
    <!-- calender of confirm events  -->
    <div class="well">
      <% @users.each do |user| %>
      <p><%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></p>
      <% end %>
    </div>

    <div class="well"  id="antipastis">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Antipasti List", antipastis_path %>
        </button>
      </div>
      <% if @antipastis.any? %>
        <div class="row display-flex">
          <% @antipastis.each do |antipasti| %>
            <div class="col-sm-6">
              <div class="thumbnail gold-bg" >
                <%= image_tag antipasti.image.url(:medium), id: "antipasti_#{antipasti.id}" %>
                <div class="caption">
                  <p><%= antipasti.name %> | <%= antipasti.price %></p>
                  <p><%= antipasti.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Currently there are no antipasti.</p>
      <% end %>
    </div>

    <div class="well" id="pasta_dishes">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Pasta Dish List", pasta_dishes_path %>
        </button>
      </div>
      <% if @pasta_dishes.any? %>
        <div class="row display-flex">
          <% @pasta_dishes.each do |pasta_dishes| %>
            <div class="col-sm-6">
              <div class="thumbnail gold-bg" >
                <%= image_tag pasta_dishes.image.url(:medium), id: "pasta_dishes_#{pasta_dishes.id}" %>
                <div class="caption">
                  <p><%= pasta_dishes.name %> | <%= pasta_dishes.price %></p>
                  <p><%= pasta_dishes.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Currently there are no pasta dishes.</p>
      <% end %>
    </div>

    <div class="well" id="mains">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Main List", mains_path %>
        </button>
      </div>
      <% if @mains.any? %>
        <div class="row display-flex">
          <% @mains.each do |main| %>
            <div class="col-sm-6">
              <div class="thumbnail gold-bg" >
                <%= image_tag main.image.url(:medium), id: "main_#{main.id}" %>
                <div class="caption">
                  <p><%= main.name %> | <%= main.price %></p>
                  <p><%= main.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Currently there are no mains.</p>
      <% end %>
    </div>

    <div class="well" id="desserts">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Dessert List", desserts_path %>
        </button>
      </div>
      <% if @desserts.any? %>
        <div class="row display-flex">
          <% @desserts.each do |dessert| %>
            <div class="col-sm-6">
              <div class="thumbnail gold-bg" >
                <%= image_tag dessert.image.url(:medium), id: "dessert_#{dessert.id}" %>
                <div class="caption">
                  <p><%= dessert.name %> | <%= dessert.price %></p>
                  <p><%= dessert.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Currently there are no dessert.</p>
      <% end %>
    </div>

    <div class="well" id="wines">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Wine List", wines_path %>
        </button>
      </div>
      <% if @wines.any? %>
        <div class="row display-flex">
          <% @wines.each do |wine| %>
            <div class="col-sm-6">
              <div class="thumbnail gold-bg" >
                <%= image_tag wine.image.url(:medium), id: "wine_#{wine.id}" %>
                <div class="caption">
                  <p><%= wine.grape %> | <%= wine.price %></p>
                  <p><%= wine.description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Currently there are no wines.</p>
      <% end %>
    </div>
  </div>
</div>
