
<div class="well admin-30days-well">
  <% if @events_within_30_days.any? %>
    <div class="row">
      <% @events_within_30_days.each do |event| %>
        <div class="col-sm-4">
          <div class="card gold-bg">
            <h2 class="card-title" ><%= User.get_fullname(event.user_id) %></h2 >
            <div class="card-text">
              <p><%= event.parse_datetime %></p>
              <p><%= link_to event.party_for, event_path(event) %></p>
              <hr class="hr-menu">
              <p id="style_<%=event.confirm%>"><%= event.confirm ? "Confirmed" : "Unconfirmed" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>Currently no events within the next 30 days.</h3>
  <% end %>
</div>

