<div class="row">
  <div class="col-md-2">
    <div class="well">
      <!-- breadcrumb links, link to menu item index page -->
      <!-- find events my date, guest name, phone number???? -->
      <%= link_to "Event Request", new_event_path %>
      <a href="#antipastis"><p>Antipastis</p></a>
      <a href="#pasta_dishes"><p>Pasta Dishes</p></a>
      <a href="#mains"><p>Mains</p></a>
      <a href="#desserts"><p>Desserts</p></a>
      <a href="#wines"><p>Wines</p></a>
    </div>
  </div>
  <div class="col-md-10">
    <!-- calender of confirm events  -->
    <div class="well">
      <% @users.each do |user| %>
      <p><%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></p>
      <% end %>
    </div>

    <div class="well"  id="antipastis">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Add Antipasti Item", new_antipasti_path %>
        </button>
      </div>
      <div class="row">
        <% @antipastis.each do |antipasti| %>
        <p class="col-md-6"><%= antipasti.name %></p>
        <% end %>
      </div>
    </div>

    <div class="well" id="pasta_dishes">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Add Pasta Dish Item", new_pasta_dish_path %>
        </button>
      </div>
      <div class="row">
        <% @pasta_dishes.each do |pasta_dish| %>
        <p class="col-md-6"><%= pasta_dish.name %></p>
        <% end %>
      </div>
    </div>

    <div class="well" id="mains">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Add Main Item", new_main_path %>
        </button>
      </div>
      <div class="row">
        <% @mains.each do |main| %>
        <p class="col-md-6"><%= main.name %></p>
        <% end %>
      </div>
    </div>

    <div class="well" id="desserts">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Add Dessert Item", new_dessert_path %>
        </button>
      </div>
      <div class="row">
        <% @desserts.each do |dessert| %>
        <p class="col-md-6"><%= dessert.name %></p>
        <% end %>
      </div>
    </div>

    <div class="well" id="wines">
      <div class="page-header item-header">
        <button type="button" class="btn gold-bg">
          <%= link_to "Add Wine Item", new_wine_path %>
        </button>
      </div>
      <div class="row">
        <% @wines.each do |wine| %>
        <p class="col-md-6"><%= wine.grape %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
