<div class="well">
  <% @events.each do |event| %>
  <p><%= event.number_of_people %></p>
  <% end %>
</div>
<div class="well">
  <%= link_to "Add Dessert Item", new_dessert_path %>
  <% @desserts.each do |dessert| %>
  <p><%= dessert.name %></p>
  <% end %>
</div>

<div class="well">
  <%= link_to "Add Antipasti Item", new_antipasti_path %>
  <% @antipastis.each do |antipasti| %>
  <p><%= antipasti.name %></p>
  <% end %>
</div>

<div class="well">
  <%= link_to "Add Main Item", new_main_path %>
  <% @mains.each do |main| %>
  <p><%= main.name %></p>
  <% end %>
</div>

<div class="well">
  <%= link_to "Add Pasta Dish Item", new_pasta_dish_path %>
  <% @pasta_dishes.each do |pasta_dish| %>
  <p><%= pasta_dish.name %></p>
  <% end %>
</div>

<div class="well">
  <%= link_to "Add Wine Item", new_wine_path %>
  <% @wines.each do |wine| %>
  <p><%= wine.grape %></p>
  <% end %>
</div>
