<div class="well">
  <% @events.each do |event| %>
  <p><%= event.number_of_people %></p>
  <% end %>
</div>
<div class="well">
  <%= link_to "Add Dessert Item", new_dessert_path %>
  <% @desserts.each do |dessert| %>
  <p><%= dessert.name %></p>
  <% end %>
</div>

<div class="well">
  <%= link_to "Add Antipasti Item", new_antipasti_path %>
  <% @antipastis.each do |antipasti| %>
  <p><%= antipasti.name %></p>
  <% end %>
</div>
