<div class="well show-well">

<% if @user.events.any? %>
  <ul class="row text-center">
    <% @user.events.each do |event| %>
      <li class="col-sm-5 col-sm-offset-1 well gold-bg user-events">
        <h3><%=event.party_for%></h3>
        <%= link_to "Full Details", event_path(event) %> | <%= link_to "Quick Detail", event_path(event), id: "event#{event.id}", remote: true %>
        <div id="event-detail<%=event.id%>">

        </div>
        <hr>
        <p id="style_<%=event.confirm%>"><%= event.confirm ? "Confirmed" : "Unconfirmed" %></p>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>Currently you have no events planned!</p>
<% end %>

</div>
