<div class="home-page">
  <div class="well home-container">
    <div class="page-header">
      <h1>Vespolina Evento</h1>
    </div>
    <div class="p-size">
      <p>Thank you for considering Vespolina for your private event!
      This is a simple guide to give you a general idea of what we do. Please know that we are happy to go above and beyond the menus presented here. We work with you one on one to make sure that all of your needs and wants are met and we hope to exceed your expectations every time you visit us! If you have any questions on what is presented in this guide, please feel free to reach out by email, by phone, or in person at Vespolina.
      </p>
    </div>

    <%= image_tag "restaurant.jpeg" %>
  </div>

  <div class="well menu-options-container">
    <div class="page-header">
        <h3>Menu Options</h3>
    </div>
    <div class="row">
      <div class="col-md-6 text">
        <div class="card gold-bg">
          <div class="card-body">
            <h5 class="card-title">HORS D’OEUVRES SIZED BITES- GREAT FOR MINGLING</h5>
            <h6 class="card-subtitle mb-2 text-muted">at $25 per person</h6>
            <hr class="hr-menu">
            <p class="card-text">These are a great way to welcome your guests into the space and give them a chance to mingle before they have to sit down for dinner. We are happy to create specialty hors d’oeuvres for your party.</p>
            <hr class="hr-menu">
            <div class="card-footer">
            <%= link_to "Request Event", new_user_event_path(current_user), class: "card-link", id: "style_false" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      <%= image_tag "restaurant.jpeg", class: "home-image" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <%= image_tag "restaurant.jpeg", class: "home-image" %>
      </div>
      <div class="col-md-6 text">
        <div class="card gold-bg">
          <div class="card-body">
            <h5 class="card-title">The Traditional Italian Dinner</h5>
            <h6 class="card-subtitle mb-2 text-muted">at $55 per person</h6>
            <hr class="hr-menu">
            <p class="card-text">A family style feast for your guests! This is a classic Italian menu of antipasti followed by pasta, mains, and a sweet bite to finish it off.</p>
            <hr class="hr-menu">
            <div class="card-footer">
            <%= link_to "Request Event", new_user_event_path(current_user), class: "card-link", id: "style_false" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text">
        <div class="card gold-bg">
          <div class="card-body">
            <h5 class="card-title">The Traditional Italian Dinner with Individually Plated Entrees</h5>
            <h6 class="card-subtitle mb-2 text-muted">at $70 per person</h6>
            <hr class="hr-menu">
            <p class="card-text">This is a play off of our classic Italian menu of antipasti followed by pasta, entrees, and a sweet bite to finish it off. This menu allows the luxury of having your guests choose their own entrée while sharing antipasti and pasta courses family style.</p>
            <hr class="hr-menu">
            <div class="card-footer">
            <%= link_to "Request Event", new_user_event_path(current_user), class: "card-link", id: "style_false" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      <%= image_tag "restaurant.jpeg", class: "home-image" %>
      </div>
    </div>
  </div>

  <div class="well menu-items-container">
    <div class="page-header">
      <h3>Take a look at our deliciouse menu items.
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "restaurant.jpeg", class: "home-image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to "Bits List", bits_path %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "restaurant.jpeg", class: "home-image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to "Antipasti List", antipastis_path %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "restaurant.jpeg", class: "home-image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to "Pasta Dish List", pasta_dishes_path %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "restaurant.jpeg", class: "home-image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to "Main List", mains_path %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "restaurant.jpeg", class: "home-image" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to "Dessert List", desserts_path %></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>





  </div>

  <div class="well request-container">
    <div class="row">
      <div class="col-md-6">
        <blockquote class="blockquote text-center">
          <p class="mb-0">"Not only are the dishes at Vespolina otherworldly, but this restaurant is also likely one of the more stunningly designed spots in town."</p>
          <footer class="blockquote-footer"><cite title="Source Title">Thrillist</cite></footer>
        </blockquote>
      </div>
      <div class="col-md-6">
        <div class="card gold-bg">
          <div class="card-body">
            <h5 class="card-title">Need to make a Event Request?</h5>
            <hr class="hr-menu">
            <p class="card-text">Please feel free to reach out by email, by phone, in person, or make a request throught your account.</p>
            <hr class="hr-menu">
            <div class="card-footer">
            <%= link_to "Request Event", new_user_event_path(current_user), class: "card-link", id: "style_false" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


