<div class="well">
  <div class="page-header">
    <h1>Vespolina Evento</h1>
  </div>
  <h2>About Vespolina</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="text-center">
    <%= image_tag "image2.jpg" %>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>


<div class="row">
  <div class="well col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <div class="page-heading">
          <h2>Menu Style: <%= @ex_menu[0].style %></h2>
        </div>
        <h2>Antipasti</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].antipasti %></p>

        <h2>Pasta</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].pasta %></p>

        <h2>Main</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].main_dish %></p>

        <h2>Dessert</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].dessert %></p>

        <h2>Wine</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].wine %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <!-- About menu options -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="text-center">
        <%= image_tag "image4.jpg", class: "home-image"%>
      </div>
    </div>
  </div>
</div>
<div class="well">
  <!-- Contact information  -->
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- <ul class="row">
  <% @ex_menu.each do |menu| %>
  <li class="col-md-4 well">
    <div class="thumbnail">
      <div class="caption">
        <div class="page-heading">
          <h2>Menu Style: <%= menu.style %></h2>
        </div>
        <h2>Antipasti</h2>
        <hr class="hr-menu">
        <p><%= menu.antipasti %></p>
        <br>
        <h2>Pasta</h2>
        <hr class="hr-menu">
        <p><%= menu.pasta %></p>
        <br>
        <h2>Main</h2>
        <hr class="hr-menu">
        <p><%= menu.main_dish %></p>
        <br>
        <h2>Dessert</h2>
        <hr class="hr-menu">
        <p><%= menu.dessert %></p>
        <br>
        <h2>Wine</h2>
        <hr class="hr-menu">
        <p><%= menu.wine %></p>
      </div>
    </div>
  </li>
  <% end %>
</ul> -->
