<div class="well">
  <div class="page-header">
    <h1>Vespolina Evento</h1>
  </div>
  <h2>About Vespolina</h2>
  <p>Thank you for considering Vespolina for your private event!
  This is a simple guide to give you a general idea of what we do. Please know that we are happy to go above and beyond the menus presented here. We work with you one on one to make sure that all of your needs and wants are met and we hope to exceed your expectations every time you visit us! If you have any questions on what is presented in this guide, please feel free to reach out to me by email, by phone, or in person at Vespolina.
  </p>
  <div class="text-center">
    <%= image_tag "image2.jpg" %>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>


<div class="row">
  <div class="well col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <div class="page-heading">
          <h2>Menu Style: <%= @ex_menu[0].style %></h2>
        </div>
        <h2>Antipasti</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].antipastis[0] %></p>

        <h2>Pasta</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].pastas[0] %></p>

        <h2>Main</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].main_dishes[0] %></p>

        <h2>Dessert</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].desserts[0] %></p>

        <h2>Wine</h2>
        <hr class="hr-menu">
        <p><%= @ex_menu[0].wine %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <!-- About menu options -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="text-center">
        <%= image_tag "image4.jpg", class: "home-image"%>
      </div>
    </div>
  </div>
</div>
<div class="well">
  <!-- Contact information  -->
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>


