<div class="carousel-container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag ("image0.jpg"), class: 'w-100'%>
    </div>
    <div class="item">
      <%= image_tag ("image1.jpg"), class: 'w-100'%>
      <div class="carousel-caption d-none d-md-block">
        <h2>"Best food in all of Seattle"</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("image2.jpg"), class: 'w-100'%>
    </div>
    <div class="item">
      <%= image_tag ("image3.jpg"), class: 'w-100'%>
    </div>
    <div class="item">
      <%= image_tag ("image4.jpg"), class: 'w-100'%>
      <div class="carousel-caption d-none d-md-block">
        <h2>"Fabulous service, drinks, food and atmosphere! Thank you. We will be back!"</h2>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<br>
<div class="well welcome">
  <div class="page-header">
    <h1>Welcome to Vespolina Evento</h1>
  </div>
  <!-- Fill with actually vespolina information -->
  <div class="p-size">
      <p>
        <em>Thank you for considering Vespolina for your private event!</em>
      </p>
      <p>
        Vespolina, the notable, Italian dining destination in the heart of the city, is known for its’ handmade pas-tas and dishes highlighting artisanal ingredients and local products.
      </p>

      <p>
      Nestled just off First Avenue, across from the Seattle Art Museum, Vespolina is an ideal setting for dinner in the contemporary dining room and seasonal lunch on the patio. Offering a picturesque view of the Se-attle Great Wheel on the Waterfront, Vespolina’s bar offers a separate dining menu for happy hour and late night dining designed to complement its distinct cocktail and wine list.
      </p>
  </div>
  <%= image_tag 'VespolinaHome.jpg' %>
  <hr>
  <p>
    Please <%= link_to "log in", '/users/sign_in', class: 'no-line' %> or <%= link_to "sign up", '/users/sign_up', class: 'no-line' %> to see you menu options and make event request.
  </p>
</div>
