<!-- add breadcrumb for user to see menu items -->
<% if current_user.admin %>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#"><%= link_to 'Edit Event', edit_event_path(@event) %></a>
      </li>
        <li class="breadcrumb-item">
          <a href="#"><%= link_to 'Select Menu', new_event_menu_path(@event) %></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="#"><%= link_to "Delete Event", event_path(@event),
                    :data => {:confirm => "You sure?",
                      :method => "delete"} %></a>
        </li>
    </ol>
  </nav>
<% end %>

<div class="panel">
  <div class="panel-heading">
    <div class="page-header">
      <div class="row">
        <% if @menu %>
          <div class="col-sm-2">
          <h2>Price</h2>
          <p><%= number_to_currency @menu.price %></p>
        </div>
        <% end %>
        <div class="col-sm-3">
          <h2>Party For:</h2>
          <p><%= @event.party_for %></p>
        </div>
        <div class="col-sm-3">
          <h2>Number of guest:</h2>
          <p><%= @event.number_of_people %></p>
        </div>
        <div class="col-sm-4">
          <h2>Date and Time of Event:</h2>
          <p><%= @event.parse_datetime %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <% if @menu %>
      <div class="thumbnail gold-bg">
        <div class="caption">
          <div class="page-heading">
            <h2>Menu Style: <%= @menu.style_name %> | <%= link_to "Edit Menu", edit_event_menu_path(@event, @menu) %></h2>
          </div>

          <% if @menu.bits.any? %>
            <h2>Bits</h2>
            <hr class="hr-menu">
            <% @menu.bits.each do |bit|%>
            <p><%= bit %></p>
            <%end%>
          <% end %>

          <% if @menu.antipastis.any?%>
            <h2>Antipasti</h2>
            <hr class="hr-menu">
            <% @menu.antipastis.each do |antipasti|%>
            <p><%= antipasti %></p>
            <%end%>
          <%end%>

          <% if @menu.pastas.any? %>
            <h2>Pasta</h2>
            <hr class="hr-menu">
            <% @menu.pastas.each do |pasta|%>
            <p><%= pasta %></p>
            <%end%>
          <% end %>


          <% if @menu.main_dishes.any? %>
            <h2>Main</h2>
            <hr class="hr-menu">
            <% @menu.inject_or.each do |main_dish|%>
            <p><%= main_dish %></p>
            <%end%>
          <% end %>

          <% if @menu.desserts.any? %>
            <h2>Dessert</h2>
            <hr class="hr-menu">
            <% @menu.desserts.each do |dessert|%>
            <p><%= dessert %></p>
            <%end%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @event.add_review? %>
    <div class="panel-footer">
    <button type="button" class="btn btn-review"><%= link_to 'Add Review', new_event_review_path(@event) %></button>
    <hr>
    <% if @event.reviews.any? %>
      <ul>
        <% @event.reviews.each do |review| %>
        <li class="well">
        <p><%= review.reviewer %></p>
        <% review.rating.times do %>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <%end%>
        <p><%= review.body %></p>
      </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
</div>
