<%= link_to 'Edit Event', edit_event_path(@event) %>
<%= link_to 'Select Menu', new_event_menu_path(@event) %>
<%= link_to 'Add Review', new_event_review_path(@event) %>

<h1><%= @event.party_for %></h1>
<p><%= @event.number_of_people %></p>
<p><%= @event.date_and_time %></p>

<% if @event.menus.any? %>
  <ul>
    <% @event.menus.each do |menu| %>
    <li><%= link_to menu.style, event_menu_path(@event, menu)%>
    <p><%=menu.price  %></p>
    <p><%= menu.antipasti%></p>
    <%= image_tag menu.image %>
    </li>
    <% end %>
  </ul>
<% end %>

<% if @event.reviews.any? %>
  <ul>
    <% @event.reviews.each do |review| %>
    <li>
    <p><%= review.reviewer %></p>
    <% review.rating.times do %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <%end%>
    <p><%= review.body %></p>
  </li>
    <% end %>
  </ul>
<% end %>
