<div class="show-event-container">

<div class="panel">
  <div class="panel-heading">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-3">
          <h4>Party For</h4>
          <hr class="hr-menu">
          <h5><%= @event.party_for %></h5>
        </div>
        <div class="col-sm-3">
          <h4>Number of guest</h4>
          <hr class="hr-menu">
          <h5><%= @event.number_of_people %></h5>
        </div>
        <div class="col-sm-4">
          <h4>Date and Time of Event</h4>
          <hr class="hr-menu">
          <h5><%= @event.parse_datetime %></h5>
        </div>
        <% if @menu && @menu.price%>
          <div class="col-sm-2">
          <h4>Price</h4>
          <hr class="hr-menu">
          <h5><%= number_to_currency @menu.price %></h5>
          </div>
        <% end %>
      </div>

      <% if current_user.admin %>
      <hr>
        <div id="edit-event-links"><%= link_to 'Edit Event', edit_event_path(@event) %> |
        <% if !@event.menu %>
          <%= link_to 'Select Menu', new_event_menu_path(@event) %> |
        <% end %>
        <%= link_to "Delete Event", event_path(@event),
                    :data => {:confirm => "You sure?",
                      :method => "delete"} %></div>
      <% end %>
    </div>
  </div>
  <div class="panel-body">

    <% if @menu %>
      <div class="thumbnail gold-bg">
        <div class="caption">
          <div class="page-heading">
            <h3><%=@event.party_for%> Menu</h3>
            <h2> <%= @menu.style_name %>
            </h2>
            <hr>
              <% if @user.admin %>
              <p>
                <%= link_to "Edit Menu", edit_event_menu_path(@event, @menu) %> | <%= link_to "Delete Menu", menu_path(@menu),
                  :data => {:confirm => "You sure?",
                    :method => "delete"} %>
              </p>
              <hr>
              <% end %>
          </div>
          <% if @menu.bits.any? %>
            <h2>Bits</h2>
            <hr class="hr-menu">
            <% @menu.bits.each do |bit|%>
            <p><%= bit %></p>
            <%end%>
          <% end %>

          <% if @menu.antipastis.any?%>
            <h2>Antipasti</h2>
            <hr class="hr-menu">
            <% @menu.antipastis.each do |antipasti|%>
            <p><%= antipasti %></p>
            <%end%>
          <%end%>

          <% if @menu.pastas.any? %>
            <h2>Pasta</h2>
            <hr class="hr-menu">
            <% @menu.pastas.each do |pasta|%>
            <p><%= pasta %></p>
            <%end%>
          <% end %>


          <% if @menu.main_dishes.any? %>
            <h2>Main</h2>
            <hr class="hr-menu">
            <% @menu.inject_or.each do |main_dish|%>
            <p><%= main_dish %></p>
            <%end%>
          <% end %>

          <% if @menu.desserts.any? %>
            <h2>Dessert</h2>
            <hr class="hr-menu">
            <% @menu.desserts.each do |dessert|%>
            <p><%= dessert %></p>
            <%end%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @event.add_review? %>
    <div class="panel-footer">
    <button type="button" class="btn btn-review"><%= link_to 'Add Review', new_event_review_path(@event) %></button>
    <hr>
    <% if @event.reviews.any? %>
      <ul>
        <% @event.reviews.each do |review| %>
        <li class="well">
        <p><%= review.reviewer %></p>
        <% review.rating.times do %>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <%end%>
        <p><%= review.body %></p>
      </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% end %>
</div>

</div>
