<div class="well">
  <div class="page-header item-header">
    <h1 class="text-center">Pasta Dishes</h1>
    <button type="button" class="btn gold-bg">
      <%= link_to "Add Pasta Dish", new_pasta_dish_path %>
    </button>
  </div>
  <% if @pasta_dishes.any? %>
    <div class="row">
      <% @pasta_dishes.each do |pasta_dish| %>
        <div class="col-sm-4">
          <div class="thumbnail gold-bg">
            <%= image_tag pasta_dish.image.url(:medium) %>
            <div class="caption">
              <p><%= pasta_dish.name %></p>
              <hr>
              <p>
                <%= link_to "Edit", edit_pasta_dish_path(pasta_dish) %> | <%= link_to "Delete", pasta_dish_path(pasta_dish),
                :data => {:confirm => "You sure?",
                  :method => "delete"} %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no pasta_dish.</p>
  <% end %>

</div>
