<div class="well">
  <div class="page-header item-header">
    <h1 class="text-center">Pasta Dishes
    <% if current_user.admin %>
    <small><%= link_to "Add Pasta Dish", new_pasta_dish_path %></small>
    <% end %>
    </h1>
  </div>
  <% if @pasta_dishes.any? %>
    <div class="row">
      <% @pasta_dishes.each do |pasta_dish| %>
        <div class="col-sm-4">
          <div class="thumbnail gold-bg">
            <div id="pasta_dish_details_<%=pasta_dish.id%>">
              <%= image_tag pasta_dish.image.url(:medium) %>
            </div>
            <div class="caption">
              <p class="no-line"><%= link_to pasta_dish.name, pasta_dish_path(pasta_dish), id: "pasta_dish_#{pasta_dish.id}", remote: true %></p>
              <hr>
              <% if @user.admin %>
                <p>
                  <%= link_to "Edit", edit_pasta_dish_path(pasta_dish) %> | <%= link_to "Delete", pasta_dish_path(pasta_dish),
                  :data => {:confirm => "You sure?",
                    :method => "delete"} %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no pasta_dish.</p>
  <% end %>

</div>
