<div class="well item-well">
  <div class="page-header item-header">
    <h1 class="text-center">Styles
    <% if current_user.admin %>
    <small><%= link_to "Add Style", new_style_path %></small>
    <% end %>
    </h1>
  </div>
  <% if @styles.any? %>
    <div class="row">
      <% @styles.each do |style| %>
        <div class="col-md-4">
          <div class="thumbnail gold-bg">
            <div id="style_details_<%=style.id%>">
              <%= image_tag style.image.url(:medium) %>
            </div>
            <div class="caption">
              <p class="no-line"><%= link_to style.name, style_path(style), id: "style_#{style.id}", remote: true %></p>
              <hr>
              <% if @user.admin %>
                <p>
                  <%= link_to "Edit", edit_style_path(style) %> | <%= link_to "Delete", style_path(style),
                  :data => {:confirm => "You sure?",
                    :method => "delete"} %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no styles.</p>
  <% end %>

</div>
