if ($('#style_details_<%=@style.id%>').children().length == 1 ){
  $('#style_details_<%=@style.id%>').empty();
  $('#style_details_<%=@style.id%>').html(`
    <%= image_tag @style.image.url(:thumb), class: "thumb-image" %>
    <p><%=@style.description%></p>
  `);
} else {
  $('#style_details_<%=@style.id%>').empty();
  $('#style_details_<%=@style.id%>').html(
    '<%= image_tag @style.image.url(:medium) %>'
  );
}
