<div class="well">
  <div class="page-header item-header">
    <h1 class="text-center">Antipastis</h1>
    <button type="button" class="btn gold-bg">
      <%= link_to "Add Antipasti", new_antipasti_path %>
    </button>
  </div>
  <% if @antipastis.any? %>
    <div class="row">
      <% @antipastis.each do |antipasti| %>
        <div class="col-md-4">
          <div class="thumbnail gold-bg">
            <div id="antipasti_details_<%=antipasti.id%>">
              <%= image_tag antipasti.image.url(:medium) %>
            </div>
            <div class="caption">
              <p class="no-line"><%= link_to antipasti.name, antipasti_path(antipasti), id: "antipasti_#{antipasti.id}", remote: true %></p>
              <hr>
              <% if @user.admin %>
                <p>
                  <%= link_to "Edit", edit_antipasti_path(antipasti) %> | <%= link_to "Delete", antipasti_path(antipasti),
                  :data => {:confirm => "You sure?",
                    :method => "delete"} %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no antipastis.</p>
  <% end %>

</div>
