<div class="well">
  <div class="page-header item-header">
    <h1 class="text-center">Antipastis</h1>
    <button type="button" class="btn gold-bg">
      <%= link_to "Add Antipasti Item", new_antipasti_path %>
    </button>
  </div>
  <% if @antipastis.any? %>
    <div class="row">
      <% @antipastis.each do |antipasti| %>
        <div class="col-sm-4">
          <div class="thumbnail gold-bg" >
            <%= image_tag antipasti.image.url(:medium), id: "antipasti_#{antipasti.id}" %>
            <div class="caption">
              <p><%= antipasti.name %></p>
              <hr>
              <p>
                <%= link_to "Edit", edit_antipasti_path(antipasti) %> | <%= link_to "Delete", antipasti_path(antipasti),
                :data => {:confirm => "You sure?",
                  :method => "delete"} %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no antipasti.</p>
  <% end %>

</div>
