if ($('#antipasti_details_<%=@antipasti.id%>').children().length == 1 ){
  $('#antipasti_details_<%=@antipasti.id%>').empty();
  $('#antipasti_details_<%=@antipasti.id%>').html(`
    <%= image_tag @antipasti.image.url(:thumb), class: "thumb-image" %>
    <p><%=@antipasti.description%></p>
  `);
} else {
  $('#antipasti_details_<%=@antipasti.id%>').empty();
  $('#antipasti_details_<%=@antipasti.id%>').html(
    '<%= image_tag @antipasti.image.url(:medium) %>'
  );
}
