<div class="well">
  <div class="page-header item-header">
    <h1 class="text-center">Mains</h1>
    <button type="button" class="btn gold-bg">
      <%= link_to "Add Main", new_main_path %>
    </button>
  </div>
  <% if @mains.any? %>
  <div class="row">
      <% @mains.each do |main| %>
        <div class="col-sm-4">
          <div class="thumbnail gold-bg">
            <div id="main_details_<%=main.id%>">
              <%= image_tag main.image.url(:medium) %>
            </div>
            <div class="caption">
              <p class="no-line"><%= link_to main.name, main_path(main), id: "main_#{main.id}", remote: true %></p>
              <hr>
              <p>
                <%= link_to "Edit Main", edit_main_path(main) %> | <%= link_to "Delete Main", main_path(main),
                :data => {:confirm => "You sure?",
                  :method => "delete"} %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no main.</p>
  <% end %>

</div>
