if ($('#main_details_<%=@main.id%>').children().length == 1 ){
  $('#main_details_<%=@main.id%>').empty();
  $('#main_details_<%=@main.id%>').html(`
    <%= image_tag @main.image.url(:thumb) %>
    <p>$<%=@main.price%></p>
    <p><%=@main.description%></p>
  `);
} else {
  $('#main_details_<%=@main.id%>').empty();
  $('#main_details_<%=@main.id%>').html(
    '<%= image_tag @main.image.url(:medium) %>'
  );

}
