<div class="well">
  <div class="page-header item-header">
    <h1 class="text-center">Dessert</h1>
    <button type="button" class="btn gold-bg">
      <%= link_to "Add Dessert", new_dessert_path %>
    </button>
  </div>
  <% if @desserts.any? %>
    <div class="row">
      <% @desserts.each do |dessert| %>
        <div class="col-sm-4">
          <div class="thumbnail gold-bg">
            <div id="dessert_details_<%=dessert.id%>">
              <%= image_tag dessert.image.url(:medium) %>
            </div>
            <div class="caption">
              <p class="no-line"><%= link_to dessert.name, dessert_path(dessert), id: "dessert_#{dessert.id}", remote: true %></p>
              <hr>
              <p>
                <%= link_to "Edit Dessert", edit_dessert_path(dessert) %> | <%= link_to "Delete Dessert", dessert_path(dessert),
              :data => {:confirm => "You sure?",
                :method => "delete"} %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no dessert.</p>
  <% end %>

</div>
