if ($('#dessert_details_<%=@dessert.id%>').children().length == 1 ){
  $('#dessert_details_<%=@dessert.id%>').empty();
  $('#dessert_details_<%=@dessert.id%>').html(`
    <%= image_tag @dessert.image.url(:small) %>
    <p class="item-description"><%=@dessert.description%></p>
  `);
} else {
  $('#dessert_details_<%=@dessert.id%>').empty();
  $('#dessert_details_<%=@dessert.id%>').html(
    '<%= image_tag @dessert.image.url(:medium) %>'
  );
}
