<div class="well item-well">
  <div class="page-header item-header">
    <h1 class="text-center">Bite
    <% if current_user.admin %>
    <small><%= link_to "Add Bite", new_bite_path %></small>
    <% end %>
    </h1>
  </div>
  <% if @bites.any? %>
    <div class="row display-flex">
      <% @bites.each do |bite| %>
        <div class="col-md-4">
          <div class="thumbnail gold-bg">
            <div id="bite_details_<%=bite.id%>">
              <%= image_tag bite.image.url(:medium) %>
            </div>
            <div class="caption">
              <p class="no-line"><%=bite.name%></p>
              <hr>
              <% if @user.admin %>
                <p>
                <%= link_to "Edit Bite", edit_bite_path(bite) %> | <%= link_to "Delete Bite", bite_path(bite),
              :data => {:confirm => "Deleting will remove #{bite.name} from site!!!!",
                :method => "delete"} %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Currently there are no bite.</p>
  <% end %>

</div>
