<% if @wines.any? %>
<div class="row">
    <% @wines.each do |wine| %>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag wine.image.url(:medium) %>
        </div>
        <div class="caption">
          <p><%= wine.price %></p>
          <p><%= wine.grape %></p>
        </div>
        <div class="panel-footer">
          <p><%= link_to "Edit Wine", edit_wine_path(wine) %> | <%= link_to "Delete Wine", wine_path(wine),
          :data => {:confirm => "You sure?",
            :method => "delete"} %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Currently there are no wine.</p>
<% end %>
