<!DOCTYPE html>
<html>
  <head>
    <title>Vespolina Evento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Vespolina Evento", "/", class: "navbar-brand" %>
        </div>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Bits", bits_path %>
            </li>
            <li>
              <%= link_to "Antipastis", antipastis_path %>
            </li>
            <li>
              <%= link_to "Pasta Dishs", pasta_dishes_path %>
            </li>
            <li>
              <%= link_to "Mains", mains_path %>
            </li>
            <li>
              <%= link_to "Desserts", desserts_path %>
            </li>
            <li>
              <%= link_to "Meet the Chef","https://seattle.eater.com/2015/3/10/8187507/katie-gallego-named-head-chef-vespolina" %>
            </li>
          </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
              <% if current_user.admin %>
              <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", admins_path %></li>
              <% else %>
              <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %></li>
              <li><%= link_to "Request Event", new_user_event_path(current_user) %></li>
              <% end %>
            <li><%= link_to "Sign out", "/users/sign_out", method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", '/users/sign_up' %></li>
            <li><%= link_to "Log in", '/users/sign_in' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
      <% if name == notice %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-success"%>
      <% elsif name = alert %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-danger"%>
      <% end %>
      <% end %>
      <%= yield %>
    </div>
    <footer>
    <div class="row text-center">
      <div class="col-sm-3">
      <p>Vespolina
    96 Union St. Seattle, WA. 98101</p>
      </div>
      <div class="col-sm-3">
      <p>
      Event Coordinator: Elrey Belmonti
      </p>
      </div>
      <div class="col-sm-3">
      <p>
      Phone: 206.682.3590
      </p>
      </div>
      <div class="col-sm-3">
      <p>
      Email: elrey.vespolina@gmail.com
      </p>
      </div>
    </div>
    </footer>
  </body>
</html>
